/* General Styles */
body {
  font-family: Arial, Helvetica, Sans-serif;
  background: linear-gradient(
    white,
    rgb(39, 152, 208),
    rgb(248, 197, 197),
    rgb(151, 206, 226)
  ),
  url('assets/img/WhatsApp_Image_2024-08-23.jpg') no-repeat center center fixed;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .imgi, .top-right-decoration, .top-left-decoration {
    max-width: 30%;
  }
}

.top-right-decoration {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.top-left-decoration {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.title h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 65px;
  margin: 30px 0;
  color: #da400d;
  padding: 10px;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.title h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #da400d;
  line-height: 1;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.dance-med {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 32px;
  color: #fc1717;
  margin: 16px;
  text-align: center;
}

.title h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  color: #ffffff;
  margin-top: 5px;
  text-shadow: 0 0 10px rgb(7, 7, 7);
}

.title p {
  color: #564861;
  margin: 30px 0 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Additional Styles */
* {
  font-family: "Arvo", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
}

#time {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 25px;
  font-size: 20px;
}

.venue {
  width: auto;
  height: auto;
  background-color: #ffffff;
  border-radius: 16px;
  text-align: center;
  color: #054da4;
  padding: 8px;
  margin-right: 8px;
  font-weight: 800;
}

.venue a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.block {
  width: 180px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.days {
  background: rgb(5, 5, 106);
}

.hours {
  background: #5cadeb;
  color: rgb(5, 5, 106);
  font-weight: 800;
  text-shadow: 0 0 10px rgb(255, 253, 253);
}

.minutes {
  background: rgb(5, 5, 106);
}

.seconds {
  background-color: #5cadeb;
  color: rgb(5, 5, 106);
  font-weight: 800;
  text-shadow: 0 0 10px rgb(255, 253, 253);
}

.date, .place {
  color: rgb(13, 13, 14);
  font-weight: 900;
  text-shadow: 0 0 10px rgb(255, 253, 253);
}

.footer {
  color: #564861;
  text-align: center;
  font-size: 16px;
  margin: 20px;
}

.phone {
  color: #874562;
  text-shadow: 0 0 10px rgb(255, 253, 253);
}

.end-msg {
  width: auto;
  height: auto;
  padding: 12px;
  background: linear-gradient(90deg, #b33a46, #9b313c);
  border-radius: 20px;
  font-size: 24px;
  color: #fff;
}

a {
  text-decoration: none;
}

.happiness {
  color: #fc0a0a;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.twitter {
  color: #ffffff;
}

.music {
  display: none;
}

.actions {
  display: flex;
  font-size: 15px;
  letter-spacing: 0pt;
}

@media only screen and (max-width: 768px) {
  .video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .video-container::after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .block {
    width: 90px;
    height: 80px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .video-container::after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .block {
    width: 75px;
    height: 65px;
    font-size: 12px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}

.wrapper section .item {
  padding: 0 2px;
  transition: 250ms all ease;
}

.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.8);
}

.wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display: none;
  }

  .wrapper {
    display: none;
  }

  .wrapper section .item {
    max-width: 100%;
  }
}

.tile__img {
  max-width: 45%;
  text-align: center;
  height: auto;
  object-fit: cover;
}

blockquote {
  position: relative;
  padding-left: 30px;
  font-weight: 600;
  color: #373a63;
  padding: 1em;
  padding-right: 0.25em;
  margin-left: 2.25em;
  margin-right: 0.2em;
  max-width: 35em;
  font-size: 15px;
}

blockquote::before {
  content: "“";
  font-family: serif;
  position: absolute;
  right: 100%;
  font-size: 75px;
  top: 20px;
  margin-right: 0.25em;
  color: #f3e2c7;
}

.cite__container {
  margin-top: 0.75em;
  padding: 0.5em;
}

.cite__container .cite {
  margin-left: 0;
  font-weight: 600;
}

.cite__container .cite .author {
  color: #373a63;
}
